.jv-background {
    background: url('index_deck.jpg') no-repeat center center fixed;
    background-size: cover;
}

.navbar {
    background-color: #314554;
    border-color: #293a46;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #dce3e8;
}

.navbar-right {
    padding: 15px;
    color: white;
}

.navbar-right a {
    color: white;
    font-size: 1em;
}

.navbar-right a:hover {
    color: #dce3e8;
    font-size: 1em;
    text-decoration: none;
}

li {
    text-decoration: none;
}

.menu {
    margin-top: 250px;
}

.menu a {
    margin-left: 10px;
    margin-right: 10px;
    transition: background-color 1s ease;
}

.menu .btn-primary:hover {
    background-color: #22527b;
}

.menu .btn-default:hover {
    background-color: #dedede;
}


p, td, li, h1, h2, h3, h4, small {
    letter-spacing: 2px;
    color: #314554;
    font-family: 'Slabo 27px', serif;
}

label, input {
    display: block;
}

form {
    margin-bottom: 50px;
}

a:hover {
 letter-spacing: 2px;
 font-family: 'Slabo 27px', serif;
 text-decoration: none;
}

a {
    letter-spacing: 2px;
    font-family: 'Slabo 27px', serif;
}
